.App__mid{
  margin-left: 12%;
  margin-right: 12%;
  

}

.App__mid section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

